# C# and Rider specific
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.dotsettings

# Build results
[Dd]ebug/
[Rr]elease/

# Visual Studio specific
.vs/
*.VC.db
*.VC.VC.opendb

# Rider specific
.idea/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# Environment files
.env

# Packages
packages/
*.nupkg

# Logs
logs/
*.log
